@import "tailwindcss";

.cornerDecoration {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #000;
    /* your primary color */
    border-bottom-left-radius: 80px;
    border-top-right-radius: 20px;
    z-index: 1;
}